<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tianocore | Intel®</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="js/theme.js"></script>
  <script src="js/dropit.js"></script>
  <script src="//use.typekit.net/nus5pal.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
