<ul id="main-nav">
  <li class="main-link first">
    <a href="#" target="_blank">
      <img id="products" class="svg" src="images/products.svg" /><div class="link-text">Products</div>
    </a>
  </li>
  <li class="main-link middle">
    <a href="javascript:void(0)" target="_blank">
      <img id="information" class="svg" src="images/information.svg" /><div class="link-text">Community Information</div>
    </a>
    <ul class="sub-menu">
      <li class="sub-link">
        <a href="#" target="_blank">Sub link</a>
      </li>
      <li class="sub-link">
        <a href="#" target="_blank">Sub link</a>
      </li>
      <li class="sub-link">
        <a href="#" target="_blank">Sub link</a>
      </li>
      <li class="sub-link">
        <a href="#" target="_blank">Sub link</a>
      </li>
    </ul>
  </li>
  <li class="main-link last">
    <a href="javascript:void(0)" target="_blank">
      <img id="support" class="svg" src="images/support.svg" /><div class="link-text">Community Support</div>
    </a>
    <ul class="sub-menu">
      <li class="sub-link">
        <a href="#" target="_blank">Sub link</a>
      </li>
      <li class="sub-link">
        <a href="#" target="_blank">Sub link</a>
      </li>
      <li class="sub-link">
        <a href="#" target="_blank">Sub link</a>
      </li>
      <li class="sub-link">
        <a href="#" target="_blank">Sub link</a>
      </li>
    </ul>
  </li>
</ul>
